
<% if current_user %>
  <h2> Create a new note here! </h2>

  <p> This lesson is <%= @note.Lesson.title %></p>

  <%= simple_form_for @note do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.button :submit %>
  <% end %>
<% end %>
