<h2> Create your new lesson here! </h2>
<% if current_user %>

  <%= simple_form_for @lesson do |f| %>
    <%= f.input :title %>
    <%= f.input :intro %>
    <%= f.input :Student_id %>
    <%= f.submit %>
  <% end %>
<% end %>