<h3> Welcome to <%= @lesson.title %> </h3>

<%= button_to "Create a new note", new_note_path(id: @lesson), :class => "button small", :method => :get %>

<h4> Your notes </h4>
<% all_notes = Note.all.find_all{ |n| n.Lesson_id == @lesson.id } %>

<% all_notes.sort! { |a,b| a.created_at.to_s <=> b.created_at.to_s } %>
<% all_notes.each do |n| %>
  <%= button_to "View " + n.title, note_path(id: n), :class => "button small", :method => :get %>
<% end %>
<p> </p>
<%= button_to "Back to my courses", user_path(id: current_user), :class => "button small", :method => :get %>
<% if @lesson.Teacher_id == current_user.id %>
  <%= button_to "Delete this courses", lesson_path(id: @lesson), :class => "button small", :method => :delete %>
<% end %>